<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> EXTRATOS SALVOS
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>DATA DE UPLOAD</th>
                <th>NOME DO ARQUIVO</th>
                <th>BANCO</th>
                <th>PERÍODO INICIAL</th>
                <th>PERÍODO FINAL</th>
                <th>STATUS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let statement of bankStatements | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>
                  <a *ngIf="statement.status === 'SUCCEEDED'" [routerLink]="['/wallet/entries', statement._id]">{{statement._id}}</a>
                  <b *ngIf="statement.status !== 'SUCCEEDED'">{{statement._id}}</b>
                </td>
                <td>{{statement.uploadedAt}}</td>
                <td>{{statement.fileName}}</td>
                <td>{{statement.bank}}</td>
                <td>{{statement.periodStart}}</td>
                <td>{{statement.periodEnd}}</td>
                <td>
                  <span [ngClass]="{'badge': true, 
                  'badge-danger': statement.status === 'FAILED', 
                  'badge-success': statement.status === 'SUCCEEDED', 
                  'badge-warning': statement.status === 'IN_PROGRESS'}">
                    {{getProcessingStatus(statement.status)}}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="bankStatements.length">
          </ngb-pagination>    
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->