<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <tabset>
                <tab>
                  <ng-template tabHeading><i class="icon-login"></i> DADOS DE LOGIN &nbsp;</ng-template>
                  <h1>SE REGISTRE</h1>
                  <p class="text-muted">CRIE SUA CONTA</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input [(ngModel)]="login.userName" id="userName" name="userName" type="text" class="form-control" placeholder="NOME DE USUÁRIO" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input [(ngModel)]="login.userEmail" id="userEmail" name="userEmail" type="text" class="form-control" placeholder="EMAIL" autocomplete="email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-folder-alt"></i></span>
                    </div>
                    <input [(ngModel)]="login.cpf" id="cpf" name="cpf" type="text" class="form-control" placeholder="CPF" autocomplete="new-password" required>
                  </div>                  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="login.password" id="password" name="password" type="password" class="form-control" placeholder="SENHA" autocomplete="new-password" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input [(ngModel)]="login.passwordConfirm" id="passwordConfirm" name="passwordConfirm" type="password" class="form-control" placeholder="CONFIRMAÇÃO DA SENHA" autocomplete="new-password" required>
                  </div>
                  <button (click)="submitUser()" type="button" id="btnSubmit" class="btn btn-block btn-success">CRIAR CONTA</button>
                </tab>
                <tab>
                  <ng-template tabHeading><i class="icon-wallet"></i> DADOS FINANCEIROS &nbsp;</ng-template>

                  <div class="input-group mb-4">
                    <button (click)="addBankAccount()"
                      type="button" 
                      id="btnAddBank"
                      class="btn btn-pill btn-success">
                      <i class="fa fa-plus-square"></i>&nbsp;ADICIONAR CONTA BANCÁRIA
                    </button>     
                                                   
                  </div>

                  <div class="form-group row" *ngIf="login.bankAccounts.length !== 0">
                    <label class="col-md-3 col-form-label" for="select1">MINHAS CONTAS BANCÁRIAS</label>
                    <div class="col-md-9">
                      <select id="select1" name="select1" class="form-control">
                        <option *ngFor="let acc of login.bankAccounts" value="{{acc.accountNumber}}">{{acc.accountNumber}}</option>
                      </select>
                    </div>
                  </div>                  

                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div bsModal #modalBankAccount="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">INCLUSÃO DE CONTA BANCÁRIA</h4>
        <button type="button" class="close" (click)="modalBank.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="bank">INDIQUE QUAL O SEU BANCO</label>
          <div class="col-md-9">
            <select 
              [(ngModel)]="bank"
              id="bank" 
              name="bank" 
              class="form-control form-control-sm">
                <option value="Banco Inter"> BANCO INTER </option>
                <option value="Caixa Econômica Federal"> CAIXA ECONÔMICA FEDERAL </option>
                <option value="Banco Itaú"> BANCO ITAÚ </option>
            </select>
          </div>
          <label class="col-md-3 col-form-label" for="account-number">NÚMERO DA CONTA</label>
          <div class="col-md-9">
            <input [(ngModel)]="accountNumber" 
                  type="text" 
                  id="account-number" 
                  name="account-number" 
                  class="form-control" 
                  placeholder="DIGITE O NÚMERO DA SUA CONTA">
          </div>
          <label class="col-md-3 col-form-label" for="agency">NÚMERO DA AGÊNCIA</label>
          <div class="col-md-9">
            <input [(ngModel)]="agency" 
                  type="text" 
                  id="agency" 
                  name="agency" 
                  class="form-control" 
                  placeholder="DIGITE O NÚMERO DA SUA AGÊNCIA">
          </div>  
          <label class="col-md-3 col-form-label" for="account-type">TIPO DE CONTA</label>
          <div class="col-md-9">
            <select 
              [(ngModel)]="accountType"
              id="account-type" 
              name="account-type" 
              class="form-control form-control-sm">
                <option value="Corrente"> CORRENTE </option>
                <option value="Poupança"> POUPANÇA </option>
            </select>
          </div>  
          <label class="col-md-3 col-form-label" for="balance">SALDO ATUAL</label>
          <div class="col-md-9">
            <input [(ngModel)]="balance" 
                type="number" 
                step="any"
                id="balance" 
                name="balance" 
                class="form-control">              
          </div>                          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" name="btnHideModalBank" class="btn btn-secondary" (click)="modalBank.hide()">CANCELAR</button>
        <button type="button" name="btnAddBank" class="btn btn-primary" (click)="addBank()">ADICIONAR</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  