.icon-easynvest {
    content: url('../../../assets/img/easynvest.png');
    height: 30px;
    width: 30px;
}

.icon-bitcoin {
    content: url('../../../assets/img/iconfinder_bitcoincash_bch_bitcoin_2844378.png');
    height: 30px;
    width: 30px;
}