<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <button *ngIf="detailingCategory !== null" 
                  (click)="findParentCategoryOf(detailingCategory)"
                  type="button" 
                  class="btn btn-pill btn-warning">
                  <i class="fa fa-arrow-circle-left"></i>&nbsp;VOLTAR
          </button>
          <i class="fa fa-align-justify"></i> CATEGORIAS DE DESPESA
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>CATEGORIA</th>
                <th>SUBCATEGORIAS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cat of categoriesToSee">
                <td>
                  <button *ngIf="hasChildrenCategories(cat); else lastLevel" 
                          (click)="changeLevel(cat)"
                          type="button" 
                          class="btn btn-block btn-outline-light active" 
                          aria-pressed="true">
                          {{cat.name}}
                  </button>
                  <ng-template #lastLevel>
                    {{cat.name}}
                  </ng-template>                  
                </td>
                <td>
                  <div *ngIf="hasChildrenCategories(cat); else noChildren">
                    {{cat.childrenCategories.length}}
                  </div>  
                  <ng-template #noChildren>
                    0
                  </ng-template>  
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
